<!-- <ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.isLoggedIn">
    <button mat-button [matMenuTriggerFor]="countryMenu">
      <span>Country:&nbsp;{{state.country | uppercase }}</span>
    </button>
  </ng-container>
</ng-container>



<mat-menu #countryMenu="matMenu">
  <button *ngFor="let country of COUNTRY" mat-menu-item (click)="switchCountry(country)">{{ country | uppercase }}</button>
</mat-menu> -->



<ng-container *ngIf="state$ | async as state">
  <!-- <ng-container *ngIf="state.isLoggedIn"> -->
    <atlas-action [menu]="menu" (menuClick)="switchCountry($event)">
      <span class="flag-icon flag-icon-{{ state.country }}"></span>
      <span>&nbsp;{{state.translationPath | translate }}</span>
    </atlas-action>
  <!-- </ng-container> -->
</ng-container>
