<nav>
  <div *ngFor="let item of menu">
    <a (click)="onClick(item.urlParams)">
      <p>{{ item.routerPath }}</p>

      <ng-container *ngIf="item.isComponent else isFolder">
        TCODE: {{ item.tcode }}
        <p>
          <ng-container *ngIf="item.isFavorite else isNotFavorite">
            <span (click)="favoriteRemove(item)">remove from favorite</span>
          </ng-container>
          <ng-template #isNotFavorite>
            <span (click)="favoriteAdd(item)">add to favorite</span>
          </ng-template>
        </p>
      </ng-container>
      <ng-template #isFolder>
        <span>FOLDER</span>
        <!-- <p>items {{ item.folderItemsCount }}</p> -->
      </ng-template>


      <!-- <h2>{{ item.name }}</h2> -->

    </a>
  </div>
</nav>
