@import 'theme';
@mixin center-horizontal-absolute {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
}

:host::ng-deep img {
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    width: auto;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    .user-context-menu {
        display: none;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover .user-context-menu {
        cursor: pointer;
        display: block;
    }
    &.rightBorder {
        border-right: 2px solid #761c7c;
    }
}

.container {
    position: relative;
}

.user-context-menu {
    @include center-horizontal-absolute();
    z-index: 1000;
    top: calc(100%);
    background-clip: padding-box;
    border-radius: 5px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    width: max-content;
    .arrow {
        @include center-horizontal-absolute();
        top: -22px;
        width: 0;
        height: 0;
        border: 11px solid transparent;
        &::after {
            position: absolute;
            content: ' ';
            width: 0;
            height: 0;
            top: -9px;
            left: 0;
            margin-left: -12px;
            display: block;
            border: 12px solid transparent;
            border-bottom: 11px solid $main-bg-color !important;
        }
        border-bottom: 11px solid $header-action-border !important;
    }
    border: 2px solid $header-action-border;
    background: $main-bg-color;
}
