:host {
    display: flex;
    height: 100%;
    background-color: white;
}

mat-accordion {
    overflow: auto;
    width: 800px;
}

.user-data-tabs, .user-data {
    width: 100%;
}

input {
  width: 100%;
}
