:host {
    margin-left: 1em;
    margin-right: 2em;
}

input {
    width: 500px;
    max-width: 90vw;
    height: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 0.5rem;
    outline: none;
    border: 1px solid #a1a1e5;
    background-color: lightyellow;
    background-color: var(--tcode-bg-color);

    // font-family: 'FontAwesome';
    color: white;
    &:focus {
        background-color: lightyellow;
        font-size: 1.5rem;
    }
    &::placeholder {
        color: var(--tcode-placeholder-color);
    }
}
