:host {
    min-width: 20em;
    margin-left: 1em;
    margin-right: 2em;
}

input {
    // width: 50rem;
    height: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 0.5rem;
    outline: none;
    border-radius: 0.5rem;
    background-color: lightyellow; // font-family: 'FontAwesome';
    color: black;
    &:focus {
        border: 2px solid #00f9a6;
        transform: scale(1.01, 1.01);
        background-color: lightyellow;
        font-size: 1.5rem;
    }
    &::placeholder {
        color: red;
    }
}


md-form-field {
    width: 100%;
}
