header {
    display: flex;
    height: 100px;
    min-height: 100px;
    background-color: #333;
    position: relative;
}

img {
    position: absolute;
    left: 20px;
    top: 10px;
}

.title {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #A05AA8;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
