:host {
    --main-bg-color: #3d3780;
    --header-bg-color: #2f296b;
    --tile-bg-color: #2f296b;
    --tile-active: #00f9a6;
    --font-color: #a1a1e5;
    --tcode-bg-color: #a1a1e5;
    --tcode-placeholder-color: #2f296b;
}
