<!-- <div class="app">
  <atlas-navbar></atlas-navbar>
  <md-sidenav-container>
    <md-sidenav #sidenav [opened]="state$ | async" mode="side">
      <p>sidebar content</p>
      <router-outlet name="sidebar"></router-outlet>
    </md-sidenav>

    <main (click)="sidenav.toggle()">
      <router-outlet></router-outlet>
    </main>
  </md-sidenav-container>
</div> -->



<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.isLoggedIn else notLoggedIn">
    <nb-layout [center]="layout.id === 'center-column'" windowMode>
      <nb-layout-header fixed>
        <atlas-header [position]="sidebar.id === 'left' ? 'normal': 'inverse'"></atlas-header>
      </nb-layout-header>

      <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive state="compacted" [right]="sidebar.id === 'right'">
        <nb-menu [items]="menu"></nb-menu>
      </nb-sidebar>


      <nb-layout-column class="main-content">
        <nav class="path">
          <atlas-path></atlas-path>
        </nav>
        <router-outlet></router-outlet>
      </nb-layout-column>

      <nb-sidebar class="settings-sidebar" tag="settings-sidebar" state="collapsed" fixed [right]="sidebar.id !== 'right'">
        <ngx-theme-switcher></ngx-theme-switcher>
      </nb-sidebar>
    </nb-layout>
  </ng-container>
</ng-container>



<ng-template #notLoggedIn>
  <nb-layout [center]="layout.id === 'center-column'" windowMode>
    <nb-layout-column class="main-content">
      <atlas-login></atlas-login>
    </nb-layout-column>
  </nb-layout>
</ng-template>
