<ul class="header-action-menu">
  <div class="views">
    <li (click)="switchApp(view.FAVORITE)">
      <i class="material-icons">favorite</i>
      <span>{{ view.FAVORITE | titlecase }}</span>
    </li>
    <li (click)="switchApp(view.RECENT)">
      <i class="material-icons">history</i>
      <span>{{ view.RECENT | titlecase }}</span>
    </li>
  </div>
  <div class="header-action-separator"></div>
  <li *ngFor="let app of apps$ | async" (click)="switchApp(app.urlParams[0])">
    {{ app.description }}
  </li>
</ul>