.material-icons {
    display: none;
}

.views, .header-action-separator {
    display: none;
}

:host-context(atlas-action) {
    // li {
    //     display: inline-flex;
    // }
    .material-icons {
        display: block;
        margin-right: 0.5rem;
    }
    .views {
        display: flex;
        justify-content: space-around;
    }
    .header-action-separator {
        display: block;
    }
}