@import '../../../shared/styles/media-breakpoints';
:host {
    display: none;
    @include atDesktop {
        display: initial;
        background-color: var(--main-bg-color);
        color: var(--font-color);
    }
}

main {
    display: flex;
}
