<main *ngIf="path$ | async as path">
  <ng-container *ngFor="let param of path.urlParams; let i = index; let first = first; let last = last">
    <button mat-button (click)="onClick(path.urlParams, i)">
      <ng-container *ngIf="path && (!last || last && !path.isComponent) else isComponent">
        <i class="material-icons" *ngIf="first">home</i>
        <i class="material-icons" *ngIf="!first">folder</i>
        <span>&nbsp; {{param | uppercase}}</span>
      </ng-container>
      <ng-template #isComponent>
        <i class="material-icons">extension</i>
        <span>&nbsp; {{param | uppercase}}</span>
      </ng-template>
    </button>
  </ng-container>
</main>