@import '../../../shared/styles/media-breakpoints';
@import '../../../shared/styles/theme';

:host {
    display: none;
    @include atDesktop {
        display: initial;
        background-color: $main-bg-color;
        color: $font-color;
    }
}

main {
    display: flex;
}

button {
    margin-right: 0.2rem;
}
