<main *ngIf="path$ | async as path">
    <button mat-button *ngFor="let view of VIEW; let first = first" (click)="switchView(view)">
      <mat-icon *ngIf="first">home</mat-icon>
      <!-- <mat-icon *ngIf="!first">favorite</mat-icon> -->
      <span>&nbsp; {{ ('dashboard.' + view) | translate | uppercase }}</span>
    </button>

    <ng-container *ngFor="let param of path.urlParams; let index = index; let last = last">
      <button mat-button (click)="onClick(param, index)" class="cdk-focused">
        <ng-container *ngIf="path && (!last || last && !path.isComponent) else isComponent">
          <mat-icon>folder</mat-icon>
          <span>&nbsp; {{param | uppercase}}</span>
        </ng-container>
        <ng-template #isComponent>
          <mat-icon>extension</mat-icon>
          <span>&nbsp; {{param | uppercase}}</span>
        </ng-template>
      </button>
    </ng-container>
  <atlas-tcode></atlas-tcode>
</main>


