<main *ngIf="path$ | async as path">
  <mat-chip-list>
    <ng-container *ngFor="let param of path.urlParams; let index = index; let first = first; let last = last">
      <ng-container *ngIf="first else notFirst">
        <mat-chip [matMenuTriggerFor]="languageMenu">
          <mat-icon>language</mat-icon>
          <span>&nbsp; {{path.language | uppercase}}</span>
        </mat-chip>

        <mat-chip [matMenuTriggerFor]="appMenu">
          <mat-icon>home</mat-icon>
          <span>&nbsp; {{param | uppercase }}</span>
        </mat-chip>
      </ng-container>


      <ng-template #notFirst>
        <mat-chip (click)="onClick(param, index + 1)">
          <ng-container *ngIf="path && (!last || last && !path.isComponent) else isComponent">
            <mat-icon>folder</mat-icon>
            <span>&nbsp; {{param | uppercase}}</span>
          </ng-container>
          <ng-template #isComponent>
            <mat-icon>extension</mat-icon>
            <span>&nbsp; {{param | uppercase}}</span>
          </ng-template>
        </mat-chip>
      </ng-template>
    </ng-container>
  </mat-chip-list>
</main>


<mat-menu #appMenu="matMenu">
  <button *ngFor="let country of COUNTRY" mat-menu-item (click)="switchCountry(country)">{{ country | uppercase }}</button>
</mat-menu>



<mat-menu #languageMenu="matMenu">
  <button *ngFor="let language of LANGUAGE" mat-menu-item (click)="switchLanguage(language)">{{language | uppercase}}</button>
</mat-menu>









<!-- <main *ngIf="path$ | async as path">
    <mat-chip-list>
      <mat-chip *ngFor="let param of path.urlParams; let index = index; let last = last" (click)="onClick(param, index + 1)" [mdMenuTriggerFor]="appMenu">
        <ng-container *ngTemplateOutlet="template; context: param"></ng-container>
      </mat-chip>

      <ng-template #template>
        <mat-icon *ngIf="path && (!last || last && !path.isComponent) else isComponent">folder</mat-icon>
        <mat-icon *ngIf="!path.isComponent else isComponent">folder</mat-icon>
        <ng-template #isComponent>
          <mat-icon>extension</mat-icon>
        </ng-template>
        <span>&nbsp; {{param}}</span>
      </ng-template>

    </mat-chip-list>
  </main> -->
