$main-bg-color: #3d3780;
$header-height: 60px;
$header-bg-color: #2f296b;
$header-action-border: #7659ff;
$header-action-hover: #7659ff;
$header-user-picture-border-color: #00f9a6;
$tile-bg-color: #2f296b;
$tile-active: #00f9a6;
$tile-footer-border: #3d3780;
$font-color: #a1a1e5;
$tcode-bg-color: #a1a1e5;
$tcode-placeholder-color: #2f296b;
$login-font-color: #a1a1e5;
$scrollbar-track-color: #a1a1e5;
$scrollbar-thumb-color: #7659ff;
$scrollbar-button-color: #a1a1e5;
