// $main-bg-color: #3d3780;
$main-bg-color: #632268;
$header-height: 40px;
// $header-bg-color: #2f296b;
$header-bg-color: #632268;
$subheader-bg-color: #E8DFE8;
$subheader-height: 40px;
$header-action-border: #7659ff;
$header-action-hover: #7659ff;
$header-user-picture-border-color: #00f9a6;
$tile-bg-color: #2f296b;
$tile-active: #00f9a6;
$tile-footer-border: #3d3780;
// $font-color: #a1a1e5;
$font-color: white;
$tcode-bg-color: #a1a1e5;
$tcode-placeholder-color: #2f296b;
$login-font-color: #632268;
$scrollbar-track-color: #a1a1e5;
$scrollbar-thumb-color: #7659ff;
$scrollbar-button-color: #a1a1e5;
