@import 'media-breakpoints';
@import 'theme';

@mixin center-horizontal-absolute {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
}

:host {
    display: flex;
    display: none;
    @include atMobile {
        display: initial;
    }
}

.user-container {
    position: relative;
    display: flex;
    align-items: center;
    &.with-menu {
        cursor: pointer;
    }
}

.user-picture {
    border-radius: 50%;
    flex-shrink: 0;
    &.image {
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.background {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    height: 40px;
    width: 40px;
    background: $main-bg-color;
    border: solid 2px $header-user-picture-border-color;
    font-size: 80%;
    &.background {
        color: $main-bg-color;
    }
}

.user-name {
    font-size: 0.875rem;
    line-height: 1.5rem;
    white-space: nowrap;
}

.info-container {
    margin-left: 0.5rem;
}
