@import '../../../../shared/styles/media-breakpoints';
@mixin center-horizontal-absolute {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
}

:host {
    display: flex;
    --color-bg: #3d3780;
    --color-fg-highlight: #00f9a6;
    display: none;
    @include atMobile {
        display: initial;
    }
}

.user-container {
    position: relative;
    display: flex;
    align-items: center;
    &.with-menu {
        cursor: pointer;
    }
}

.user-picture {
    border-radius: 50%;
    flex-shrink: 0;
    &.image {
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.background {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    height: 40px;
    width: 40px;
    background: var(--color-fg);
    border: solid 2px var(--color-fg-highlight);
    font-size: 80%;
    &.background {
        color: var(--color-bg);
    }
}

.user-name {
    font-size: 0.875rem;
    line-height: 1.5rem;
    white-space: nowrap;
}

.info-container {
    margin-left: 0.5rem;
}
