:host {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .animated {
//   animation-duration: 1s;
//   animation-fill-mode: both;
// }


// @keyframes zoomIn {
//   from {
//     opacity: 0;
//     transform: scale3d(.3, .3, .3);
//   }

//   50% {
//     opacity: 1;
//   }
// }

// .zoomIn {
//   animation-name: zoomIn;
// }

