<main *ngIf="!(isLoading$ | async)">
  <h2 i18n>{{ 'Login' | translate }}</h2>
  <form name="form" (ngSubmit)="f.form.valid && logIn()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">{{ 'Username' | translate }}</label>
      <input type="text" autofocus="true" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
        required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">{{ 'Username Required' | translate }}</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">{{ 'Password' | translate }}</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">{{ 'Password Required' | translate }}</div>
    </div>
    <!-- <input type="checkbox" class="form-control" name="rememberMe" [(ngModel)]="model.rememberMe" /> -->
    <mat-checkbox [(ngModel)]="model.rememberMe" name="rememberMe">Remember me</mat-checkbox>

    <div class="form-group">
      <button mat-button mat-raised-button>{{ 'Login' | translate }}</button>
    </div>
  </form>
</main>
