<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.isLoggedIn">
    <div class="header-container left medium">
      <a (click)="toggleSidebar()" href="#" class="navigation">
        <i class="nb-menu text"></i>
      </a>
      <!-- <nb-actions size="medium" class="header-container left medium">
        <nb-action icon="nb-menu" class="toggle-sidebar" (click)="toggleSidebar()"></nb-action>
      </nb-actions> -->

      <div class="logo">
        <img class="logo-img" src="../../../../assets/atlas-logo.png" alt="logo">
      </div>

      <div *ngIf="state.country" class="tcode">
        <atlas-tcode></atlas-tcode>
        <nb-action *ngFor="let view of VIEW">
          <button mat-button (click)="switchView(view)" class="text">{{ ('dashboard.' + view) | translate | uppercase }}</button>
        </nb-action>
      </div>
    </div>



    <nb-actions size="medium" class="header-container right medium">
      <!-- <nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action> -->
      <!-- <nb-action>
        <button mat-button (click)="logOut()" class="text">{{ 'dashboard.logout' | translate | uppercase }}</button>
      </nb-action> -->

      <nb-action>
        <nb-user [menu]="userMenu" [name]="('dashboard.hello' | translate:{value: state.user.nameDisplay + '!'})" picture="../../../../assets/steve.jpg"
          (menuClick)="menuClick($event)" class="text">
        </nb-user>
      </nb-action>
      <nb-action class="control-item" icon="nb-email"></nb-action>
      <nb-action class="control-item">
        <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
      </nb-action>
      <!-- <nb-action matTooltip="{{ state.notifications.length }} Notifications" class="control-item" icon="nb-notifications" [matMenuTriggerFor]="notificationsMenu">
      </nb-action> -->
      <nb-action matTooltip="{{ state.notifications.length }} Notifications" [matMenuTriggerFor]="notificationsMenu">
        <atlas-notification-count [notifications]="state.notifications.length">
          <mat-icon>notifications</mat-icon>
        </atlas-notification-count>
      </nb-action>
    </nb-actions>


    <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
      <td-menu>
        <div td-menu-header class="mat-subhead">Notifications</div>
        <mat-nav-list dense>
          <ng-container *ngFor="let notification of state.notifications; let last=last">
            <a mat-list-item>
              <mat-icon matListAvatar>today</mat-icon>
              <h4 matLine>
                <span class="text-wrap">{{ notification.message }}</span>
              </h4>
            </a>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>
        </mat-nav-list>
        <button mat-button color="accent" td-menu-footer>
          See All Notifications
        </button>
        <button mat-button color="accent" td-menu-footer (click)="clearNotifications()">
          Delete All Notifications
        </button>
      </td-menu>
    </mat-menu>
  </ng-container>
</ng-container>
