<nav>
  <div class="card" *ngFor="let item of menu" (click)="onNavigate(item.urlParams)">
    <header>
      {{ item.description | uppercase }}
    </header>

    <div *ngIf="item.isComponent" class="component">
      <mat-icon *ngIf="item.isFavorite else notFavorite" (click)="onFavoriteToggle(item)" class="component-icon">favorite</mat-icon>
      <ng-template #notFavorite>
        <mat-icon (click)="onFavoriteToggle(item)" class="component-icon">favorite_border</mat-icon>
      </ng-template>
    </div>

    <div *ngIf="!item.isComponent" class="folder">
      <mat-icon class="folder-icon">folder</mat-icon>
    </div>
  </div>
</nav>



<!-- <nav>
  <nb-card *ngFor="let item of menu" (click)="onNavigate(item.urlParams)">
    <nb-card-header>
      <nb-card-content>{{ item.description | uppercase }}</nb-card-content>
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="!item.isComponent">
        <mat-icon class="folder">folder</mat-icon>
      </div>
    </nb-card-body>
    <nb-card-footer *ngIf="item.isComponent">
      <nb-card-actions>
        <mat-icon *ngIf="item.isFavorite else notFavorite" (click)="onFavoriteToggle(item)">favorite</mat-icon>
        <ng-template #notFavorite>
          <mat-icon (click)="onFavoriteToggle(item)">favorite_border</mat-icon>
        </ng-template>
      </nb-card-actions>
    </nb-card-footer>
  </nb-card>
</nav> -->
