<nav *ngIf="state$ | async as state">
  <section class="card" *ngFor="let item of state.menu" (click)="onNavigate(item.urlParams)">
    <ng-container *ngIf="item.isComponent">
      <header> {{ item.description | titlecase }} </header>
      <div class="component_footer">
        <mat-icon *ngIf="item.isFavorite" (click)="onFavoriteToggle(item)">favorite</mat-icon>
        <mat-icon *ngIf="!item.isFavorite" (click)="onFavoriteToggle(item)">favorite_border</mat-icon>
        <mat-icon *ngIf="item.help" [matTooltip]="item.help">help</mat-icon>
      </div>
    </ng-container>

    <ng-container *ngIf="!item.isComponent">
      <header class="folder-header">{{ item.description }}</header>
      <div class="folder-footer">
        <mat-icon>folder</mat-icon>
      </div>
    </ng-container>
  </section>
</nav>
