  <nav *ngIf="state$ | async as state">
    <div class="card" *ngFor="let item of state.menu" (click)="onNavigate(item.urlParams)">
      <header>
        {{ item.description | uppercase }}
      </header>

      <div *ngIf="item.isComponent" class="component">
        <mat-icon *ngIf="item.isFavorite else notFavorite" (click)="onFavoriteToggle(item)" class="component-icon">favorite</mat-icon>
        <ng-template #notFavorite>
          <mat-icon (click)="onFavoriteToggle(item)" class="component-icon">favorite_border</mat-icon>
        </ng-template>
      </div>

      <div *ngIf="!item.isComponent" class="folder">
        <mat-icon class="folder-icon">folder</mat-icon>
      </div>
    </div>
  </nav>
