@import 'media-breakpoints';
$notification-size: 20px !default;
$notification-content-size: 40px !default;
:host {
    position: relative;
    text-align: center;
    display: none;
    @include atTablet {
        display: initial;
    }
}

.notification-count {
    position: absolute;
    line-height: $notification-size + 1;
    width: $notification-size;
    height: $notification-size;
    font-size: 10px;
    font-weight: 600;
    color: white;
    border-radius: 50%;
    z-index: 1;
    background-color: red;
    top: 2px;
    right: 9px;
}


