$td-notification-size: 20px !default;
$td-notification-content-size: 40px !default;
:host {
    position: relative;
    display: block;
    text-align: center;
    min-width: $td-notification-size;
    height: $td-notification-content-size;
}

.notification-count {
    line-height: $td-notification-size + 1;
    width: $td-notification-size;
    height: $td-notification-size;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    color: white;
    border-radius: 50%;
    z-index: 1;
    background-color: red;
    top: 0;
    right: -7px;
}

.notification-content {
    &,
    /deep/>* {
        line-height: $td-notification-content-size;
    }
}
