@import '../../../shared/styles/media-breakpoints';
@import '../../../shared/styles/theme';
* {
    user-select: none;
}

header {
    display: flex;
    height: $header-height;
    min-height: $header-height;
    max-height: $header-height;
    background-color: $header-bg-color;
    color: $font-color;
    justify-content: start;
    padding-top: 5px;
    padding-bottom: 5px;
    @include atMobile {
        justify-content: center;
    }
}

.spacer {
    flex: 1 1 auto;
}

.rightMarginWhenNotLoggedIn {
    margin-right: 5rem;
}

// p-megaMenu::ng-deep div.ui-megamenu {
//     margin-left: 3rem;
// }
// p-megaMenu::ng-deep .ui-menuitem-text {
//     a {
//         color: #a1a1e5;
//     }
// }
// p-megaMenu::ng-deep div.ui-megamenu-panel {
//     background-color: rgba(30, 31, 29, 1);
// }
// p-megaMenu::ng-deep .ui-widget-header {
//     h3 {
//         color: #00f9a6;
//     }
// }
// p-megaMenu::ng-deep .ui-menu-list .ui-menuitem-link {
//     span {
//         display: block;
//         width: 50px;
//         color: white;
//     }
// }
// p-megaMenu::ng-deep div.ui-megamenu-panel .ui-menu-list .ui-menuitem-link {
//     span {
//         display: block;
//         width: 50px;
//         color: white;
//         &:hover {
//             color: red;
//         }
//     }
// }
