@import '../../../shared/styles/media-breakpoints';
.logo-img {
    height: 50px;
    pointer-events: none;
}

.tcode {
    display: flex;
    align-items: center;
}

.text {
    color: nb-theme(color-fg);
}

// p-megaMenu::ng-deep div.ui-megamenu {
//     margin-left: 3rem;
// }
// p-megaMenu::ng-deep .ui-menuitem-text {
//     a {
//         color: #a1a1e5;
//     }
// }
// p-megaMenu::ng-deep div.ui-megamenu-panel {
//     background-color: rgba(30, 31, 29, 1);
// }
// p-megaMenu::ng-deep .ui-widget-header {
//     h3 {
//         color: #00f9a6;
//     }
// }
// p-megaMenu::ng-deep .ui-menu-list .ui-menuitem-link {
//     span {
//         display: block;
//         width: 50px;
//         color: white;
//     }
// }
// p-megaMenu::ng-deep div.ui-megamenu-panel .ui-menu-list .ui-menuitem-link {
//     span {
//         display: block;
//         width: 50px;
//         color: white;
//         &:hover {
//             color: red;
//         }
//     }
// }
header {
    --height: 60px;
    display: flex;
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    background-color: var(--header-bg-color);
    color: var(--font-color);
    justify-content: start;
    padding-top: 5px;
    padding-bottom: 5px;
    @include atMobile {
        justify-content: center;
    }
}

.menu {
    mat-icon {
        font-size: 2rem;
    }
}

.spacer {
    flex: 1 1 auto;
}

.logo {
    margin-left: 1rem;
    margin-right: 2rem;
    display: none;
    @include atDesktop {
        display: initial;
    }
}

.rightMarginWhenNotLoggedIn {
    margin-right: 1em;
}


