<header *ngIf="state$ | async as state">
  <atlas-action>
    <i (click)="onSidebarToggle()" class="material-icons" style="font-size: 200%">menu</i>
  </atlas-action>

  <atlas-action [rightBorder]="false">
    <img src="../../../../assets/atlas-logo.png" alt="logo">
  </atlas-action>
  <span class="spacer"></span>


  <atlas-country-selector></atlas-country-selector>
  <atlas-language-selector></atlas-language-selector>
  <span *ngIf="!state.isLoggedIn" class="rightMarginWhenNotLoggedIn"></span>


  <ng-container *ngIf="state.isLoggedIn">
    <atlas-app-selector></atlas-app-selector>
    <atlas-notification-count [notifications]="(notifications$ | async).length"></atlas-notification-count>
    <atlas-user [name]="('dashboard.hello' | translate:{value: state.user.nameDisplay + '!'})" picture="../../../../../assets/steve.jpg"></atlas-user>
  </ng-container>
</header>
