<header *ngIf="state$ | async as state">
  <atlas-action *ngIf="state.isLoggedIn" class="menu">
    <mat-icon (click)="onSidebarToggle()">menu</mat-icon>
  </atlas-action>
  <atlas-action [rightBorder]="false">
    <img class="logo" src="../../../../assets/atlas-logo.png" alt="logo">
  </atlas-action>
  <span class="spacer"></span>



  <atlas-country-selector></atlas-country-selector>
  <atlas-language-selector></atlas-language-selector>
  <span *ngIf="!state.isLoggedIn" class="rightMarginWhenNotLoggedIn"></span>


  <ng-container *ngIf="state.isLoggedIn">
    <atlas-app-selector></atlas-app-selector>

    <atlas-notification-count [notifications]="state.notifications.length">
    </atlas-notification-count>

    <atlas-user [name]="('dashboard.hello' | translate:{value: state.user.nameDisplay + '!'})" picture="../../../../../assets/steve.jpg"></atlas-user>
  </ng-container>
</header>
