.spacer {
  flex: 1 1 auto;
}

.userName {
  margin-left: 2rem;
}

.userImg {
  margin-left: 1rem;
  border-radius: 50%;
  height: 32px!important;
  width: 32px!important;
}

.logo {
  margin-left: 2rem;
  margin-right: 2rem;
}

mat-toolbar img {
  height: 80%;
}


.flex {
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  background-color: #3d3780;
  z-index: 99999!important;
}

.navigation {
  font-size: 2.5rem;
  text-decoration: none;
  i {
      display: block;
  }
}
