<md-toolbar color="primary">
  <img src="./assets/atlas-logo.png" alt="logo">

  <span class="userName">Hello {{ (user$ | async).nameDisplay }}!</span>
  <img class="userImg" src="./assets/steve.jpg" alt="user">

  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn$ | async">
    <!-- <md-icon>dashboard</md-icon>
      <md-icon>favorite</md-icon> -->
    <button md-button *ngFor="let view of VIEW" (click)="switchView(view)">{{ view | uppercase }}</button>

    <md-icon *ngIf="notifications$ | async as notifications" mdTooltip="{{ notifications.length }} Notifications" [ngClass]="{notificationIcon: notifications.length > 0}">notifications
    </md-icon>

    <button md-button (click)="logOut()">LogOut</button>
    <!-- <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon></button> -->
    <md-icon [mdMenuTriggerFor]="appMenu">menu</md-icon>

  </ng-container>
</md-toolbar>


<md-menu #appMenu="mdMenu">
  <button md-menu-item [mdMenuTriggerFor]="countryMenu">Country</button>
  <button md-menu-item [mdMenuTriggerFor]="themeMenu">Theme</button>
  <button md-menu-item><md-icon>settings</md-icon>Settings</button>
  <button md-menu-item><md-icon>help</md-icon>Help</button>
</md-menu>


<md-menu #countryMenu="mdMenu">
  <button *ngFor="let country of COUNTRY" md-menu-item (click)="switchCountry(country)">{{ country | uppercase }}</button>
</md-menu>


<md-menu #themeMenu="mdMenu">
  <button *ngFor="let theme of DASHBOARD_THEME" md-menu-item (click)="switchTheme(theme)">{{ theme | uppercase }}</button>
</md-menu>


<ng-container *ngIf="isLoggedIn$ | async">
  <atlas-tcode></atlas-tcode>
</ng-container>

<!-- <a (click)="viewTcode()">
    <ng-container *ngIf="(isViewTcode$ | async) else folderView">
      SwitchToFolderView
    </ng-container>
    <ng-template #folderView>SwitchToTcodeView</ng-template>
  </a> -->



<!-- <h1>Single Expansion Panel</h1>

<md-expansion-panel class="md-expansion-demo-width" #myPanel>
  <md-expansion-panel-header [expandedHeight]="expandedHeight" [collapsedHeight]="collapsedHeight">
    <mat-panel-description>This is a panel description.</mat-panel-description>
    <mat-panel-title>Panel Title</mat-panel-title>
  </md-expansion-panel-header>
    This is the content text that makes sense here.
</md-expansion-panel>

<br>
<md-form-field>
  <input mdInput [(ngModel)]="collapsedHeight" placeholder="Collapsed height">
</md-form-field>

<md-form-field>
  <input mdInput [(ngModel)]="expandedHeight" placeholder="Expanded height">
</md-form-field>
<br>

<h1>Accordion</h1>
<div>
  <p>Accordion Options</p>
  <div>
    <md-slide-toggle [(ngModel)]="multi">Allow Multi Expansion</md-slide-toggle>
    <md-slide-toggle [(ngModel)]="hideToggle">Hide Indicators</md-slide-toggle>
    <md-slide-toggle [(ngModel)]="disabled">Disable Panel 2</md-slide-toggle>
    <md-slide-toggle [(ngModel)]="showPanel3">Show Panel 3</md-slide-toggle>
  </div>
  <p>Accordion Style</p>
  <md-radio-group [(ngModel)]="displayMode">
    <md-radio-button value="default">Default</md-radio-button>
    <md-radio-button value="flat">Flat</md-radio-button>
  </md-radio-group>
  <p>Accordion Panel(s)</p>
  <div>
    <md-checkbox [(ngModel)]="panel1.expanded">Panel 1</md-checkbox>
    <md-checkbox [(ngModel)]="panel2.expanded">Panel 2</md-checkbox>
  </div>
</div>
<br>
<md-accordion [displayMode]="displayMode" [multi]="multi"
              class="md-expansion-demo-width">
  <md-expansion-panel #panel1  [hideToggle]="hideToggle">
    <md-expansion-panel-header>Section 1</md-expansion-panel-header>
    <p>This is the content text that makes sense here.</p>
  </md-expansion-panel>
  <md-expansion-panel #panel2 [hideToggle]="hideToggle" [disabled]="disabled">
    <md-expansion-panel-header>Section 2</md-expansion-panel-header>
    <p>This is the content text that makes sense here.</p>
  </md-expansion-panel>
  <md-expansion-panel #panel3 *ngIf="showPanel3" [hideToggle]="hideToggle">
    <md-expansion-panel-header>Section 3</md-expansion-panel-header>
    <md-checkbox #showButtons>Reveal Buttons Below</md-checkbox>
    <md-action-row *ngIf="showButtons.checked">
      <button md-button (click)="panel2.expanded = true">OPEN SECTION 2</button>
      <button md-button (click)="panel3.expanded = false">CLOSE</button>
    </md-action-row>
  </md-expansion-panel>
</md-accordion> -->
