/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css);
// @import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/purple-green.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


// @import "~ng2-tree/styles.css";
@import "~flag-icon-css/css/flag-icon.min.css";




// @import '~@angular/material/theming';
// @include mat-core();
// $primary: mat-palette($mat-blue, 800);
// $accent:  mat-palette($mat-light-blue, 600, A100, A400);
// $warn:    mat-palette($mat-red, 600);
// $theme: mat-dark-theme($primary, $accent, $warn);
// @include angular-material-theme($theme);


// @import '~@covalent/core/theming/all-theme';
// @include covalent-theme($theme);




// @import '~primeng/resources/primeng.min.css';
// @import '~primeng/resources/themes/omega/theme.css';


//  material icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
