@import 'media-breakpoints';
@import 'theme';
.page {
    width: 100vw;
    height: 100vh;
    display: grid; // position: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "header" "path" "content"; // background-color: $main-bg-color;
}

atlas-header {
    grid-area: header;
}

atlas-path {
    grid-area: path;
}

mat-sidenav,
mat-sidenav-container,
router-outlet,
atlas-login {
    grid-area: content; // background-color: inherit;
}

mat-sidenav {
    width: 250px;
    background-color: $main-bg-color;
}

.path_tcode {
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    @include atDesktop {
        justify-content: initial;
    }
}