.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  position: fixed;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header" "path" "content";
  background-color: var(--main-bg-color);
}

atlas-header {
  grid-area: header;
}

atlas-path {
  grid-area: path;
}

router-outlet,
atlas-login {
  grid-area: content;
}

mat-sidenav-container,
mat-sidenav,
router-outlet {
  background-color: inherit;
}

mat-sidenav {
  background-color: inherit;
  width: 200px;
}
