<nav>
  <div *ngFor="let item of menu">
    <a (click)="onNavigate(item.urlParams)">
      <ng-container *ngIf="item.isComponent else isFolder">
        <p>{{ item.description }}</p>
        <p>TCODE: {{ item.tcode }}</p>
        <p>
          <md-icon *ngIf="item.isFavorite else notFavorite" (click)="onFavoriteToggle(item)">favorite</md-icon>
          <ng-template #notFavorite>
            <md-icon (click)="onFavoriteToggle(item)">favorite_border</md-icon>
          </ng-template>
        </p>
      </ng-container>

      <ng-template #isFolder>
        <p>{{ item.description }}</p>
      </ng-template>
    </a>
  </div>
</nav>


